* {
    margin: 0%;
    padding: 0%;
}

.body1 {
    overflow: hidden;
    background-color: #C0D6DF;
    z-index: 2;
}

.forme1 {
    border-radius: 56% 44% 70% 30% / 30% 30% 70% 70%;
    background-color: #4f6d7acb;
    position: absolute;
    height: 1000px;
    width: 1000px;
    animation: linear infinite;
    animation-duration: 100s;
    animation-name: f1m;
    top: -5%;
    z-index: 1;
    left: -50%;
}

@keyframes f1m {
    0% {
        border-radius: 88% 12% 22% 78% / 80% 53% 47% 20% ;
        transform: translateX(0%);
    }
    25% {
        border-radius: 56% 44% 70% 30% / 30% 30% 70% 70%;
    }
    50% {
        border-radius: 23% 77% 13% 87% / 48% 81% 19% 52% ;
    }
    75% {
        border-radius: 91% 9% 78% 22% / 25% 32% 68% 75% ;
    }
    100% {
        border-radius: 88% 12% 22% 78% / 80% 53% 47% 20% ; 
        transform: translateX(125%);
    }
}

.forme2 {
    border-radius: 56% 44% 70% 30% / 30% 30% 70% 70%;
    background-color: #4f6d7acb;
    position: absolute;
    height: 800px;
    width: 800px;
    animation: linear infinite;
    animation-duration: 100s;
    animation-name: f1m;
    top: -5%;
    z-index: 1;
    left: -50%;
}

.forme3 {
    z-index: 0;
    border-radius: 56% 44% 70% 30% / 30% 30% 70% 70%;
    background-color: #4f6d7acb;
    position: absolute;
    height: 300px;
    width: 300px;
    animation: linear infinite;
    animation-duration: 500s;
    animation-name: f2m;
    top: 5%;
    left: 0%;

}
@keyframes f2m {
    0% {
        border-radius: 56% 44% 70% 30% / 30% 30% 70% 70%;
        transform: translateX(400%);
    }
    25% {
        border-radius: 56% 44% 70% 30% / 30% 30% 70% 70%;
    }
    50% {
        border-radius: 23% 77% 13% 87% / 48% 81% 19% 52% ;
    }
    75% {
        border-radius: 91% 9% 78% 22% / 25% 32% 68% 75% ;
    }
    100% {
        border-radius: 88% 12% 22% 78% / 80% 53% 47% 20% ; 
        transform: translateX(-400%);
    }
}

.pr {
    position: absolute;
    z-index: 5;
    background-color: #6486b9;
    border-radius: 5%;
    height: 400px;
    width: 700px;
    top: 25%;
    left: 25%;
    text-align: center;
    font-family: Roboto;
    
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Black.ttf') format('woff');
  }

  .pr1 {
    position: absolute;
    z-index: 4;
    background-color: #4475be;
    border-radius: 5%;
    height: 400px;
    width: 700px;
    top: 24%;
    left: 24%;
    text-align: center;
    font-family: Roboto;
    animation-name: arr1;
    animation-duration: 1s;
}

.pr2 {
    position: absolute;
    z-index: 4;
    background-color: #4475be;
    border-radius: 5%;
    height: 400px;
    width: 700px;
    top: 26%;
    left: 26%;
    text-align: center;
    font-family: Roboto;
    animation-name: arr2;
    animation-duration: 1s;
}

@keyframes arr1 {
    0% {
        top: 100%;
    }
}
@keyframes arr2 {
    0% {
        top: -100%;
    }
}

.underline {
    z-index: 6;
    background-color: rgba(255, 255, 255, 0.705);
    width: 450px;
    height: 10px;
    text-align: center;
    position: relative;
    left: 18%;
    color:  rgba(255, 255, 255, 0);
    animation-duration: 1s;
    animation-name: under;
}

@keyframes under {
    0% {
        width: 1px;
    }
    100% {
        width: 450px;
    }
}

.som {
    font-size: 200%;
    color: white;
}

.sommaire {
    color: rgba(255, 255, 255, 0.808);
    text-align: left;
    margin-left: 3%;
}

.fl1 {
    position: absolute;
    left: 5%;
    top: 75%;
    height: auto;
}

.fl2 {
    position: absolute;
    right: 5%;
    top: 75%;
    height: auto;
}

.fl2:active {
    filter: brightness(0.5);
}

.fl1:active {
    filter: brightness(0.5);
}

.body2 {
    background-color: #FFBFA0;
    z-index: 1;
    }
